.reservations-table {
    padding: 20px;
    margin-bottom: 60px;
}
  
  .reservations-table h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .reservations-table table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 55px;
}
  
  .reservations-table th, .reservations-table td {
    border: 1px solid #e1e1e1;
    text-align: left;
  }
  
  .reservations-table th {
    background-color: #f7f7f7;
    font-weight: bold;
  }
  
  .delete-button {
    background-color: #ff5a5f;
    color: white;
    padding: 5px 45px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-button:hover {
    background-color: #d94141;
  }
  
  .table-container{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
.searchPage-info {
    padding: 20px 20px 0 100px;
  }
    
    .searchPage-info > p {
      margin-bottom: 10px;
      font-size: 16px;
    }
    
    .searchPage-info > h1 {
      margin-bottom: 30px;
      font-size: 16px;
    }
    
    .searchPage-info > button {
      border-radius: 30px;
      text-transform: inherit;
      margin: 5px;
    }
  