/* navbar styles */
*{
    font-size: 18px;
    font-weight: 450;
}
nav, .nav-user, .login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
}

nav{
    padding: 10px 35px;
}
.tabs{
    width: 400px;
    display: flex;
    justify-content: space-between;
    
}

.nav-user{
    width: fit-content;
}
.login{
    background-color: rgba(135, 134, 134, 0.415);
    padding: 5px 10px;
    border-radius: 20px;
    width: 70px;
    margin-left: 20px;
}

.login-modal {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    width: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 5;
    border-radius: 10px;
    padding: 10px 0;
}

.login > * ,.css-cfmrwp{
    margin-right: 4px;
  }

.login-modal span:hover{
   background-color: rgba(211, 211, 211, 0.459);
   width: 100%;
   cursor: pointer;
}

.login-modal span{
    padding: 3px 25px;
}