.banner-container {
    background: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    /* margin: 50px; */
    /* border-radius: 15px; */
    overflow: hidden; /* Ensure no overflow if background image exceeds container */
}

.banner-overlay {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 1; /* Ensure overlay is above background image */
}

.banner-background {
    display: flex;
    background: url('https://images.unsplash.com/photo-1505843513577-22bb7d21e455?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWFuc2lvbnxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95%; /* Full height of container */
    width: 100%; /* Full width of container */
    justify-content: center;
    align-items: center; /* Center content vertically */
    position: relative;
    margin: 20px 30px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: fit-content;
    margin-top: 300px;
    padding: 20px; /* Add some padding for better appearance */
    z-index: 3; /* Ensure content is above overlay */
}

.banner-title {
    font-size: 35px;
    color: white;
    position: relative;
    z-index: 3 !important;
    margin-bottom: 8px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-custom {
    border-radius: 50px !important;
    font-size: 16px !important;
    background-color: white !important;
}
